{% extends "home/base.html" %}
{% load static %}

{% block content %}
     <section id="mu-page-breadcrumb">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
               <div class="mu-page-breadcrumb-area">
                 <h2>You have been Logged Out</h2>
           </div>
          </div>
         </div>
       </div>
     </div>
   </section>

    <!-- End about us -->








{% endblock content %}