{% extends "home/base.html" %}
{% load static %}

{% block content %}
     <section id="mu-page-breadcrumb">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
             <div class="alert alert-info">
                 An email has been sent with instructions to reset your password
             </div>
          </div>
         </div>
       </div>
     </div>
   </section>

    <!-- End about us -->

{% endblock content %}