{% extends "home/base.html" %}
{% load static %}
{% load crispy_forms_tags%}
{% block content %}
     <section id="mu-page-breadcrumb">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
               <div class="mu-page-breadcrumb-area">
                 <h2>Reset Password</h2>
           </div>
          </div>
         </div>
       </div>
     </div>
   </section>
    <!-- Start Sign in -->
    <section id="mu-Sign-up">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="mu-about-us-area">
              <div class="row">
                <div class="col-lg-6 col-md-12">
                     <form method="POST">
                        {%csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4" ></legend>
                              {{form|crispy}}
                        </fieldset>
                         <div class="form-group">
                             <button class="btn btn-outline-info" type="submit"> Request Password Reset</button>
                         </div>
                    </form>
                 <div class="border-top pt-3">
                    <small class="text-muted">
                   Need an Account?<a href="{% url 'betify-register'%}" class="ml-2">  Create Account </a>
                    </small>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}