{% extends "home/base.html" %}
{% load static %}
{% block content %}
   <!-- Page breadcrumb -->
   <section id="mu-page-breadcrumb">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
           <div class="mu-page-breadcrumb-area">
             <h2>NBA</h2>
             <ol class="breadcrumb">
              <li><a href="{% url 'betify-home' %}">Home</a></li>
              <li class="active">NBA</li>
            </ol>
           </div>
         </div>
       </div>
     </div>
   </section>
   <!-- End breadcrumb -->
   <section id="mu-course-content">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
           <div class="mu-course-content-area">
              <div class="row">
                <div class="col-md-9">
                  <!-- start course content container -->
                  <div class="mu-course-container mu-course-details">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a href="#"><img src="{% static 'home/assets/img/courses/steph.jpg' %}" alt="img"></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <!--<a href="#">BLANK LINK</a> -->
                              <span><i class="fa fa-clock-o"></i>Game Day</span>
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h2><a href="#">Coming Soon!</a></h2>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>
 {% endblock content %}