{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Betify | Home</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'home/assets/img/Betify_Logos/Bookmark2.png' %}" type="image/x-icon">

    <!-- Font awesome -->
    <link href="{% static 'home/assets/css/font-awesome.css' %}" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="{% static 'home/assets/css/bootstrap.css'%}" rel="stylesheet">
    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="{% static 'home/assets/css/slick.css'%}">
    <!-- Fancybox slider -->
    <link rel="stylesheet" href="{% static 'home/assets/css/jquery.fancybox.css'%}" type="text/css" media="screen" />
    <!-- Theme color -->
    <link id="switcher" href="{% static 'home/assets/css/theme-color/default-theme.css' %}" rel="stylesheet">

    <!-- Main style sheet -->
    <link href="{% static 'home/assets/css/style.css'%}" rel="stylesheet">


    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700' rel='stylesheet' type='text/css'>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

  <!--START SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#">
      <i class="fa fa-angle-up"></i>
    </a>
  <!-- END SCROLL TOP BUTTON -->

  <!-- Start header  -->
  <header id="mu-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-header-area">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="mu-header-top-left">
                  <div class="mu-top-email">
                    <i class="fa fa-envelope"></i>
                    <span>betify.ca@gmail.com</span>
                  </div>
                  <div class="mu-top-phone">
                    <i class="fa fa-phone"></i>
                    <span>699-699-6969</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="mu-header-top-right">
                  <nav>
                    <ul class="mu-top-social-nav">
                      <li><a href="https://www.facebook.com/befityca-324605928252527/"><span class="fa fa-facebook"></span></a></li>
                      <li><a href="https://www.instagram.com/befity.ca/"><span class="fa fa-instagram"></span></a></li>
                      <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                      <li><a href="https://www.youtube.com/channel/"><span class="fa fa-youtube"></span></a></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- End header  -->
  <!-- Start menu -->
  <section id="mu-menu">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- LOGO -->
          <!-- TEXT BASED LOGO <a class="navbar-brand" href="{% url 'betify-home' %}"><img src="{% static 'home/assets/img/betifylogo(1).jpg' %}"><span>Betify</span></a> -->

           <a class="navbar-brand" href="{% url 'betify-NHL' %}"><img src="{% static 'home/assets/img/Betify_Logos/BetifyLogoGood1.png' %}" alt="logo"></a>
          <!-- IMG BASED LOGO  -->
           <!--<a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" </img> alt="logo"></a> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
            <li class="active"><a href="{% url 'betify-home' %}">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sports <span class="fa fa-angle-down"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'betify-NHL' %}">NHL</a></li>
                <li><a href="{% url 'betify-MLB' %}">MLB</a></li>
				<li><a href="{% url 'betify-NBA' %}">NBA</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tech Talk <span class="fa fa-angle-down"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'betify-detailNHL' %}">Betting Details</a></li>
              </ul>
            </li>
            <!-- Uncomment this for a contact page <li><a href="{% url 'betify-home' %}">Contact</a></li> -->

            {% if user.is_authenticated%}
              <li><a href="{% url 'betify-logout' %}">Log out</a></li>
            {% else %}
              <li><a href="{% url 'betify-login' %}">Sign In</a></li>
            {%endif%}

            <li><a href="{% url 'betify-home' %}" id="mu-search-icon"><i class="fa fa-search"></i></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </section>
  <!-- End menu -->
  <!-- Start search box -->
  <div id="mu-search">
    <div class="mu-search-area">
      <button class="mu-search-close"><span class="fa fa-close"></span></button>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form class="mu-search-form">
              <input type="search" placeholder="Type Your Keyword(s) & Hit Enter">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End search box -->
  <div class="row">
    <div class="col-md-12">
      {%if messages%}
      {% for message in messages%}
        <div class="alert alert-{{message.tags}}">
          {{message}}
        </div>
      {%endfor%}
      {%endif%}
    </div>
  </div>
{% block content %}{% endblock%}




  <!-- Start footer -->
  <footer id="mu-footer">
    <!-- start footer top -->
    <div class="mu-footer-top">
      <div class="container">
        <div class="mu-footer-top-area">
          <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Information</h4>
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="{% url 'betify-detailNHL' %}">Technical Details</a></li>
                  <li><a href="{% url 'betify-NHL' %}">NHL</a></li>
                  <li><a href="{% url 'betify-MLB' %}">MLB</a></li>
                  <li><a href="{% url 'betify-NBA' %}">NBA</a></li>

                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Help</h4>
                <ul>
                  <li><a href="{% url 'betify-home' %}">Get Started</a></li>
                  <li><a href="https://www.facebook.com/befityca-324605928252527/">My Questions, Get the Latest Updates</a></li>
                  <li><a href="https://www.instagram.com/befity.ca/">News</a></li>
                </ul>
              </div>
            </div>

            <div class="col-lg-4 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Contact</h4>
                <address>
                  <p>Phone: (699)-669-6969 </p>
                  <p>Website:www.betify.ca</p>
                  <p>Email: betify.ca@gmail.com</p>
                </address>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end footer top -->
    <!-- start footer bottom -->
    <div class="mu-footer-bottom">
      <div class="container">
        <div class="mu-footer-bottom-area">
          <p>&copy; All Right Reserved. Designed by <a href="http://www.markups.io/" rel="nofollow">MarkUps.io</a></p>
        </div>
      </div>
    </div>
    <!-- end footer bottom -->
  </footer>
  <!-- End footer -->

  <!-- jQuery library -->
  <script src="{% static 'home/assets/js/jquery.min.js' %}"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static 'home/assets/js/bootstrap.js' %}"></script>
  <!-- Slick slider -->
  <script type="text/javascript" src="{% static 'home/assets/js/slick.js' %}"></script>
  <!-- Counter -->
  <script type="text/javascript" src="{% static 'home/assets/js/waypoints.js' %}"></script>
  <script type="text/javascript" src="{% static 'home/assets/js/jquery.counterup.js' %}"></script>
  <!-- Mixit slider -->
  <script type="text/javascript" src="{% static 'home/assets/js/jquery.mixitup.js' %}"></script>
  <!-- Add fancyBox -->
  <script type="text/javascript" src="{% static 'home/assets/js/jquery.fancybox.pack.js'%}"></script>

  <script src="{% static 'home/assets/js/instafeed.min.js' %}"></script>

  <!-- Custom js -->
  <script src="{% static 'home/assets/js/custom.js'%}"></script>
  <script src="{% static 'home/assets/js/instaCustom.js'%}"></script>


  </body>
</html>