{% extends "home/base.html" %}
{% load static %}
{% block content %}
    <!-- Start Slider -->
    <section id="mu-slider">
      <!-- Start single slider item -->
      <div class="mu-slider-single">
        <div class="mu-slider-img">
          <figure>
            <img src="{% static 'home/assets/img/slider/ovi.jpg'%}" alt="img">
          </figure>
        </div>
        <div class="mu-slider-content">
          <h4>Welcome Betify</h4>
          <span></span>
          <h2>Machine learning sports prediction website</h2>
          <p> We do numbers, you Win!</p>
          <!--<a href="{% url 'betify-NHL' %}" class="mu-read-more-btn">Read More</a> -->
        </div>
      </div>
      <!-- Start single slider item -->
      <!-- Start single slider item -->
      <div class="mu-slider-single">
        <div class="mu-slider-img">
          <figure>
            <img src="{% static 'home/assets/img/slider/jam.jpg' %}" alt="img">
          </figure>
        </div>
        <div class="mu-slider-content">
          <h4>NBA, NHL, MLB</h4>
          <span>Daily sports game prediction</span>
          <h2>Check before you Bet!</h2>
          <p>Be smart with your money</p>
          <!--<a href="{% url 'betify-MLB' %}" class="mu-read-more-btn">Read More</a> -->
        </div>
      </div>
      <!-- Start single slider item -->
      <!-- Start single slider item -->
      <div class="mu-slider-single">
        <div class="mu-slider-img">
          <figure>
            <img src="{% static 'home/assets/img/slider/king.jpg' %}" alt="img">
          </figure>
        </div>
        <div class="mu-slider-content">
          <h4>Easy to Understand</h4>
          <span></span>
          <h2>Uncluttered, Simple and Straight-forward</h2>
          <p>To the point</p>
          <!--<a href="{% url 'betify-NBA' %}" class="mu-read-more-btn">Read More</a> -->
        </div>
      </div>
      <!-- Start single slider item -->
    </section>
    <!-- End Slider -->
    <!-- Start service  -->
    <section id="mu-service">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="mu-service-area">
              <!-- Start single service -->
              <div class="mu-service-single">
                <span class="fa fa-database"></span>
                <h3>Prediction </h3>
                <p> We predict games using Machine Leaning and AI with 5+ seasons of data and statistics! <br/> <br/>  <br/> </p>
              </div>
              <!-- Start single service -->
              <!-- Start single service -->
              <div class="mu-service-single">
                <span class="fa fa-users"></span>
                <h3>Betting Odds</h3>
                <p> We use a betting algorithm so you know how much to bet along with compiled odds from the main book makers so you know who to place your bet with!</p>
              </div>
              <!-- Start single service -->
              <!-- Start single service -->
              <div class="mu-service-single">
                <span class="fa fa-table"></span>
                <h3>Informed Decision </h3>
                <p>We provide all the information for you too make the best bet possible! <br/> <br/> <br/> </p>
              </div>
              <!-- Start single service -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End service  -->

    <!-- Start about us -->
    <section id="mu-about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="mu-about-us-area">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="mu-about-us-left">
                    <!-- Start Title -->
                    <div class="mu-title">
                      <h2> About us</h2>
                    </div>
                    <!-- End Title -->
                    <p>Betify uses machine learning to predict professional sports games, it is updated daily, gathering stats, odds, and predictions and compiling into an easy to read, simple interface that allows for even the least grizzled sports betting veteran from being informed on the nights action. Visit Tech Talk page for all the nitty gritty details.</p>
                    <h4> What makes Machine Learning Good</h4>
                    <ul>
                      <li>There is no human bias, or emotion with any prediction</li>
                      <li>We do not trust "gut feelings" or "hunches" only statistics and math</li>
                      <li>The model has all kinds of data including statistics and expert data</li>

                    </ul>
                    <p>Betify provides informative information, so get excited again about sports by being invested in the outcome. Be smart, Be invested, Be excited again!</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="mu-about-us-right">
                  <a id="mu-abtus-video" href="https://www.youtube.com/embed/v=0vbuGMlwKl8" target="mutube-video">
                    <img src="{% static 'home/assets/img/Betify_Logos/Bookmark2.png'%}" alt="img">
                  </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End about us -->

    <!-- Start about us counter -->
    <section id="mu-abtus-counter">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="mu-abtus-counter-area">
              <div class="row">
                <!-- Start counter item -->
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="mu-abtus-counter-single">
                    <span class="fa fa-ticket"></span>
                    <h4 class="counter"> 15</h4>
                    <p>Predicted Games Everyday </p>
                  </div>
                </div>
                <!-- End counter item -->
                <!-- Start counter item -->
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="mu-abtus-counter-single">
                    <span class="fa fa-database"></span>
                    <h4 class="counter">24,000</h4>
                    <p>Games Used to Train Model</p>
                  </div>
                </div>
                <!-- End counter item -->
                <!-- Start counter item -->
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="mu-abtus-counter-single">
                    <span class="fa fa-cloud"></span>
                    <h4 class="counter">32</h4>
                    <p>Input statistics</p>
                  </div>
                </div>
                <!-- End counter item -->
                <!-- Start counter item -->
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="mu-abtus-counter-single no-border">
                    <span class="fa fa-mouse-pointer"></span>
                    <h4  class="counter">25</h4>
                    <p>Odds from Bookmakers</p>
                  </div>
                </div>
                <!-- End counter item -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End about us counter -->

    <!-- Start features section -->
    <section id="mu-features">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="mu-features-area">
              <!-- Start Title -->
              <div class="mu-title">
                <h2>Our Features</h2>
                <p>We provide all you need to know in order to make an informed betting desicion</p>
              </div>
              <!-- End Title -->
              <!-- Start features content -->
              <div class="mu-features-content">
                <div class="row">
                  <div class="col-lg-4 col-md-4  col-sm-6">
                    <div class="mu-single-feature">
                      <span class="fa fa-book"></span>
                      <h4>Machine Learning Model</h4>
                      <p>We use a neural networks, fed with over 32 game statistics from each sport, click Read More or visit Technical details for more info! </p>
                      <a href="{% url 'betify-detailNHL' %}">Read More</a>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="mu-single-feature">
                      <span class="fa fa-users"></span>
                      <h4>Odds</h4>
                      <p>We gather odds from 12 different book makers and find the best odd for you so you dont have to!</p>
                      <a href="{% url 'betify-NHL' %}">Read More</a>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="mu-single-feature">
                      <span class="fa fa-laptop"></span>
                      <h4>Betting Algorithm</h4>
                      <p>CHRIS PLEASE DESCRIBE ALGO</p>
                      <a href="{% url 'betify-NHL' %}">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End features content -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End features section -->

    <!-- Start latest course section -->
    <section id="mu-latest-courses">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="mu-latest-courses-area">
              <!-- Start Title -->
              <div class="mu-title">
                <h2>Recent Action</h2>
                <p>Check out some of the latest bets as well follow our instagram page @betify.ca for daily prediction contentl</p>
              </div>
              <!-- End Title -->

              <!-- Start latest course content -->
              <div id="mu-latest-course-slide" class="mu-latest-courses-content">
              <!-- taken from instagram via cutominsta.js -->
              </div>
              <!-- End latest course content -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End latest course section -->

    <!-- Start our teacher -->
    <section id="mu-our-teacher">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="mu-our-teacher-area">
              <!-- begin title -->
              <div class="mu-title">
                <h2>Meet the Team</h2>
                <p>Ant and Chris are Computer Engineers specializing in machine learning and AI at Queen's University. </p>
              </div>
              <!-- end title -->
              <!-- begain our teacher content -->
              <div class="mu-our-teacher-content">
                <div class="row">
                  <div class="col-lg-4 col-md-3 col-sm-6">
                    <div class="mu-our-teacher-single">
                      <figure class="mu-our-teacher-img">
                        <img src="{% static 'home/assets/img/teachers/HockeyPic.png'%}" alt="teacher img">
                        <div class="mu-our-teacher-social">
                          <a href="https://www.facebook.com/befityca-324605928252527/"><span class="fa fa-facebook"></span></a>
                          <a href="https://www.instagram.com/befity.ca/"><span class="fa fa-instagram"></span></a>
                        </div>
                      </figure>
                      <div class="mu-ourteacher-single-content">
                        <h4>Sports</h4>
                        <span>Athletics</span>
                        <p>Ant and Chris grew up playing primarily hockey, but name a sport and they have probably played it, thrown it, or shot it. The only thing they haven’t done is made a rope swing off of a 45-foot train bridge, just kidding they did that too.   </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-7 col-md-3 col-sm-6">
                    <div class="mu-our-teacher-single">
                      <figure class="mu-our-teacher-img">
                        <img src="{% static 'home/assets/img/teachers/GDInterview.png'%}" alt="teacher img">
                        <div class="mu-our-teacher-social">
                          <a href="https://www.facebook.com/befityca-324605928252527/"><span class="fa fa-facebook"></span></a>
                          <a href="https://www.instagram.com/befity.ca/"><span class="fa fa-instagram"></span></a>
                        </div>
                      </figure>
                      <div class="mu-ourteacher-single-content">
                        <h4>Computer Engineering</h4>
                        <span>Machine Learning </span>
                        <p> While not playing sports, Ant and Chris both attend Queens university and are specializing in Machine Learning and AI. Both have completed a 16 month professional internship where they worked for a military contract company on software for the CP-140 Aurora and the CP-148 Cyclone helicopter. Both are on the deans list and are currently looking taking a masters. </p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <!-- End our teacher content -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End our teacher -->

    <!-- Start testimonial -->
    <section id="mu-testimonial">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="mu-testimonial-area">
              <div id="mu-testimonial-slide" class="mu-testimonial-content">
                <!-- start testimonial single item -->
                <div class="mu-testimonial-item">
                  <div class="mu-testimonial-quote">
                    <blockquote>
                      <p>These guys are really doing cool applications of machine learning, would definitely recommend! </p>
                    </blockquote>
                  </div>
                  <div class="mu-testimonial-img">
                    <img src="{% static 'home/assets/img/home/Pat.jpg'%}" alt="img">
                  </div>
                  <div class="mu-testimonial-info">
                    <h4>Patrick</h4>
                    <span>Betify User</span>
                  </div>
                </div>
                <!-- end testimonial single item -->
                <!-- start testimonial single item -->
                <div class="mu-testimonial-item">
                  <div class="mu-testimonial-quote">
                    <blockquote>
                      <p>Solid work! Such a great user-friendly display, love the simplicity!</p>
                    </blockquote>
                  </div>
                  <div class="mu-testimonial-img">
                    <img src="{% static 'home/assets/img/home/Matthew.jpg'%}" alt="img">
                  </div>
                  <div class="mu-testimonial-info">
                    <h4>Matthew</h4>
                    <span>Betify User</span>
                  </div>
                </div>
                <!-- end testimonial single item -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End testimonial -->

    <!-- Start from blog -->
    <section id="mu-from-blog">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="mu-from-blog-area">
              <!-- start title -->
              <div class="mu-title">
                <h2>More information about Sports Betting!</h2>
                <p>These articles are great sources of information for the industry</p>
              </div>
              <!-- end title -->
              <!-- start from blog content   -->
              <div class="mu-from-blog-content">
                <div class="row">
                  <div class="col-md-4 col-sm-4">
                    <article class="mu-blog-single-item">
                      <figure class="mu-blog-single-img">
                        <a href="https://www.onlinegambling.com/sports/betting-odds-guide/"><img src="{% static 'home/assets/img/home/sportsbetting.png'%}" alt="img"></a>
                        <figcaption class="mu-blog-caption">
                          <h3><a href="https://www.onlinegambling.com/sports/betting-odds-guide/">Ultimate online Betting Guide</a></h3>
                        </figcaption>
                      </figure>
                      <div class="mu-blog-meta">
                        <a href="https://www.onlinegambling.com/">Online Gambling.com</a>
                        <a href="https://www.onlinegambling.com/sports/odds-calculator/">May 1, 2019</a>
                      </div>
                      <div class="mu-blog-description">
                        <p>Online sports betting is available at thousands of internet sportsbooks in 2019. You can gamble on thousands of markets, from NFL and AFL to the English Premier League, the NBA to the Olympics, and just about everything in between. If there's a sport happening somewhere in the world, chances are good that you can bet on it!</p>
                        <a class="mu-read-more-btn" href="https://www.onlinegambling.com/sports/betting-odds-guide/">Read More</a>
                      </div>
                    </article>
                  </div>
                  <div class="col-md-4 col-sm-4">
                    <article class="mu-blog-single-item">
                      <figure class="mu-blog-single-img">
                        <a href="https://www.pinnacle.com/en/betting-articles/Baseball/ultimate-baseball-betting-guide/JU3J9V9HPREQ3VMS"><img src="{% static 'home/assets/img/home/Pinacle.jpg'%}" alt="img"></a>
                        <figcaption class="mu-blog-caption">
                          <h3><a href="https://www.pinnacle.com/en/betting-articles/Baseball/ultimate-baseball-betting-guide/JU3J9V9HPREQ3VMS">How to Bet on Baseball</a></h3>
                        </figcaption>
                      </figure>
                      <div class="mu-blog-meta">
                        <a href="https://www.pinnacle.com/en/betting-articles/Baseball/ultimate-baseball-betting-guide/JU3J9V9HPREQ3VMS">Benjamin Cronin</a>
                        <a href="#">June 11, 2017</a>
                        <span><i class="fa fa-comments-o"></i>87</span>
                      </div>
                      <div class="mu-blog-description">
                        Learn how to Bet on baseball </br> Explaining the basics of baseball betting </br>Find out how to convert odds into probability</p>
                        <a class="mu-read-more-btn" href="https://www.pinnacle.com/en/betting-articles/Baseball/ultimate-baseball-betting-guide/JU3J9V9HPREQ3VMS">Read More</a>
                      </div>
                    </article>
                  </div>
                  <div class="col-md-4 col-sm-4">
                    <article class="mu-blog-single-item">
                      <figure class="mu-blog-single-img">
                        <a href="https://www.thoughtco.com/how-to-bet-basketball-3116311"><img src="{% static 'home/assets/img/home/Basketball.png'%}" alt="img"></a>
                        <figcaption class="mu-blog-caption">
                          <h3><a href="https://www.thoughtco.com/how-to-bet-basketball-3116311">How to Bet on Basketball</a></h3>
                        </figcaption>
                      </figure>
                      <div class="mu-blog-meta">
                        <a href="https://www.thoughtco.com/allen-moody-3115794">Allen Moody</a>
                        <a href="#">January 04, 2019</a>
                      </div>
                      <div class="mu-blog-description">
                        <p>Of the four major sports, basketball is one of the easiest to bet on. Along with football, basketball uses the point spread for wagering on sides (teams), as well as an over/under number.</p>
                        <a class="mu-read-more-btn" href="https://www.thoughtco.com/how-to-bet-basketball-3116311">Read More</a>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
              <!-- end from blog content   -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End from blog -->

{% endblock content %}