{% extends "home/base.html" %}
{% load static %}
{% block content %}
 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
           <h2>Tech Talk </h2>
           <ol class="breadcrumb">
            <li><a href="#">Home</a></li>            
            <li class="active">Technical Details</li>
          </ol>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->
 <section id="mu-course-content">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-course-content-area">
            <div class="row">
              <div class="col-md-9">
                <!-- start course content container -->
                <div class="mu-course-container mu-blog-single">
                  <div class="row">
                    <div class="col-md-12">
                      <article class="mu-blog-single-item">
                        <figure class="mu-blog-single-img">
                          <a href="#"><img alt="img" src="{% static 'home/assets/img/home/TechTalkNHL.jpg' %}"></a>
                          <figcaption class="mu-blog-caption">
                            <h3><a href="#">Everything you need to Know</a></h3>
                          </figcaption>                      
                        </figure>

                        <div class="mu-blog-description">
                          <h5>Why predict for only the Regular Season</h5>
                          <p>From the U.S. beating the Soviets Olympic ice hockey, in 1980, to Buster Douglas KO of Mike Tyson for heavyweight championship, in 1990. When everything is on the line the game sometimes comes down to bounces and breaks that just can’t be explained. For instance, no one predicted the Los Vegas Golden Knights to be in the Stanley Cups playoffs in 2017-2018. Sports are have upsets because of “human element” this is what makes sports so exciting, playoffs amplify this element making it unpredictable, meaning that unless your lucky it is very hard to be profitable. That is why we only make predictions during the regular season.  The predictions for playoffs are based off of the regular season data, there is not enough data to create a model to predict accurately playoff games, ask anyone playoffs is a whole different ball game.</p>
                          <blockquote>
                            <p>Why do you care about sports? Because your invested... Become invested again by betting on a game for an exciting adrenaline rush that only comes with being literally invested in the game </p>
                          </blockquote>
                          <h1>How does the Betting Algorithm work?</h1>
                          <p> The betting algorithm we use is called____  it compares the prediction to the odds to determine if a bet should be placed. Depending on the certainty of the prediction the algorithm will calculate the appropriate amount of money to bet on the game. The algorithm will never bet more than half of the money pot. Money pot is the amount of willing to bet on a game, take your money pot to be $100 then the algorithm will suggest a bet of anywhere between $0-$50. Any winnings or losses will be added or subtracted to the money pot creating for an exponential increase or decrease, meaning that losses will be mitigated.</p>
                          <h2>Frequently Asked Questions</h2>
                          <p>Most of the information of what we do, how we do it, how to read, and how to use, can be found on the individual games pages, at Betify is supposed to be very easy and simple to use, with out any dry, boring, and pages on pages of mathematics and statics explaining why to bet on a game. All you need to know is that our NHL predictions are _____ percent accurate  and that we are ____ profitable.  This section and page will be generated gradually with FAQs and questions asked to us. We would LOVE to hear from you, please DM us on Instagram or contact us Via our facebook page.</p>
                          <h3>FAQS</h3>
                          <p>What how does your betting algorithm work? </p>
                          <p>It uses prediction, and the game odd to determine if the bet should be made</p>
                          <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum officia iure voluptas deleniti tempora eum ipsa explicabo tenetur laborum doloribus, perferendis quam enim molestiae. Officia numquam harum quam blanditiis sapiente!</p>
                          <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                            <li>Obcaecati quas earum minima perspiciatis corrupti quasi cum.</li>
                            <li>Vero mollitia voluptas libero praesentium ut dolor, labore.</li>
                            <li>Eius, odit, incidunt. Voluptates iusto, a sapiente reiciendis?</li>
                            <li>Quos, tenetur voluptas, dolore sapiente nisi repellat odio.</li>
                          </ul>
                          
                        </div>

                        <!-- End blog post tags -->
                        <!-- start blog social share -->
                        <div class="mu-blog-social">
                          <ul class="mu-news-social-nav">
                            <li>SOCIAL SHARE :</li>
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                          </ul>
                        </div>
                        <!-- End blog social share -->
                      </article>
                    </div>                                   
                  </div>
                </div>
                <!-- end course content container -->

                <!-- end respond form -->
              </div>
              <div class="col-md-3"> <!-- FROM HERE-->
                  <!-- start sidebar -->
                  <aside class="mu-sidebar">
                    <!-- start single sidebar -->
                    <div class="mu-single-sidebar">
                      <h3>Content</h3>
                      <ul class="mu-sidebar-catg">
                        <li><a href="#">Regular Season</a></li>
                        <li><a href="#">Match Ups</a></li>
                        <li><a href="#">Odds</a></li>
                        <li><a href="#">Predictions</a></li>
                        <li><a href="#">Betting Algorithim</a></li>
                        <li><a href="#">Money</a></li>
                      </ul>
                    </div>
                    <!-- end single sidebar -->
                    <!-- start single sidebar
                    <div class="mu-single-sidebar">
                      <h3>Popular Course</h3>
                      <div class="mu-sidebar-popular-courses">
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="assets/img/courses/1.jpg" alt="img">
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">Medical Science</a></h4>
                            <span class="popular-course-price">$200.00</span>
                          </div>
                        </div>
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="assets/img/courses/2.jpg" alt="img">
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">Web Design</a></h4>
                            <span class="popular-course-price">$250.00</span>
                          </div>
                        </div>
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="assets/img/courses/3.jpg" alt="img">
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">Health & Sports</a></h4>
                            <span class="popular-course-price">$90.00</span>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <!-- end single sidebar -->
                    <!-- start single sidebar -->
                    <div class="mu-single-sidebar">
                      <h3>Helpful Tools</h3>
                      <ul class="mu-sidebar-catg mu-sidebar-archives">
                        <li><a href="https://www.oddsshark.com/nhl/odds">All Odds</a></li>
                        <li><a href="https://www.oddsshark.com/tools/odds-calculator">Odds Calculator <span>(Conversion)</span></a></li>

                      </ul>
                    </div>
                    <!-- end single sidebar -->
                    <!-- start single sidebar -->
                    <div class="mu-single-sidebar">
                      <h3>Tags Cloud</h3>
                      <div class="tag-cloud">
                        <a href="{% url 'betify-NBA' %}">NBA</a>
                        <a href="{% url 'betify-MLB' %}">MLB</a>
                        <a href="{% url 'betify-detailNHL' %}">Technical NHL</a>
                        <a href="{% url 'betify-detailNHL' %}">Technical NBA</a>
                        <a href="{% url 'betify-detailNHL' %}">Technical MLB</a>
                        <a href="{% url 'betify-home' %}">Home</a>

                      </div>
                    </div>
                    <!-- end single sidebar -->
                  </aside>
                  <!-- / end sidebar TO HERE -->
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>

 {% endblock content %}