{% extends "home/base.html" %}
{% load static %}
{% block content %}

   <!-- Page breadcrumb -->
   <section id="mu-page-breadcrumb">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
           <div class="mu-page-breadcrumb-area">
             <h2>NHL</h2>
             <ol class="breadcrumb">
              <li><a href="{% url 'betify-home' %}">Home</a></li>
              <li class="active">NHL</li>
            </ol>
           </div>
         </div>
       </div>
     </div>
   </section>
   <!-- End breadcrumb -->
   <section id="mu-course-content">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
           <div class="mu-course-content-area">
              <div class="row">
                <div class="col-md-9">
                  <!-- start course content container -->
                  <div class="mu-course-container mu-course-details">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a href="#"><img src="{% static 'home/assets/img/courses/sid.jpg' %}" alt="img"></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a href="#">NHL</a>
                              <!--<span><i class="fa fa-clock-o"></i>Event Date Does Not work {{games.Event_Date}}</span> -->
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h2><a href="#">Today's Match ups.</a></h2>
                            <h4>How to Read</h4>
                            <p> This is where you will find daily predictions on all your favourite sports games. The goal of Betify is to provide a very simple display that you will be able to read easily and have all the information you need to make a bet and just a glance. </p>
                            <p>The first column “Win Prediction Probability” is the predicted percentage that a team will win. This comes directly from the Neural Network trained from over 10,000+ games. The second column in the table is the percentage the total money pot should be used to bet on the game. This feature is for more of the avid sports betters. This percentage is generated from a betting algorithm developed that is based off of the predicted odds as well as the given odds by each of the given book makers. For example if you have a total of $100 dollars to spend on betting and the algorithm will suggested a 10 percent bet that would translate a 10 dollar bet being placed on the game. Speaking of book-makers, we collect all the odds from the major book-makers and compile them in one spot so you know which odd is the best for you. A great website to see all the odds is OddShark (click on the All Odds link). </p>
                            <blockquote>
                              <p>“We strive to provide the simplest, straight forward way line ups to help make the best informed decisions. Betting on sports gets fans invested each game which makes every game, Game 7 energy”</p>
                            </blockquote>
                            <p>In terms of odds all the odds provided are in American odds. For example if the odd is +150 you would have to wager $100 dollars for a $150 dollar payout meaning the take home the $100 wagered plus the $150 won. A positive odd would signify a less likely out-come ware as a negative odd would signify a likely out-come. For instance a -150 odd would mean a $50 dollar payout. For more information about odds check out the articles provided on the landing page, or the online odds calculator provided in the tools section “Odds Calculator”.</p>
                            <h4>Line Up</h4>
                            <p> See below for the games of the day. Also follow us on Instagram as odds and predictions are posted daily.</p>
                            <div class="table-responsive">
                              <table class="table">
                              <thead>
                                <tr>
                                  <th> Game </th>
                                  <th> Win Prediction Probability </th>
                                  <th> Bet Amount as Percentage Bankroll </th>
                                  <th> Odds </th>
                                  <th> Betting Website</th>
                                </tr>
                              </thead>

                              <tbody>
                              {% if not games %}
                              <tr><td><h5>No Games Today!</h5></td></tr>
                                {% else %}
                                {% for g in games %}
                                <tr>
                                  <td> {{g.Home_Team}} <img alt="img"  width ="75dpi" height="75dpi" src ="../static/home/assets/img/NHL_Team_Logos/{{g.Home_Team}}.png"> </td>
                                  <td> {{g.Home_Prediction}}</td>
                                  <td> {{g.Home_Bet_Perc}}</td>
                                  <td> {{g.Home_Odd}} </td>
                                  <td> {{g.Home_Betting_Site}} </td>
                                </tr>
                                <tr>
                                  <td> {{g.Away_Team}} <img alt="img"  width ="75dpi" height="75dpi" src ="../static/home/assets/img/NHL_Team_Logos/{{g.Away_Team}}.png"> </td>
                                  <td> {{g.Away_Prediction}}</td>
                                  <td> {{g.Away_Bet_Perc}}</td>
                                  <td> {{g.Away_Odd}} </td>
                                  <td> {{g.Away_Betting_Site}} </td>
                                </tr>
                                <tr>
                                  <td> </br> </td>
                                  <td> </td>
                                  <td> </td>
                                  <td>  </td>
                                </tr>
                                {% endfor %}
                              {%endif%}

                              </tbody>
                            </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end course content container -->

                  <!-- start related course item
                  <div class="row">
                    <div class="col-md-12">
                      <div class="mu-related-item">
                    <h3>Latest Games</h3>
                    <div class="mu-related-item-area">
                      <div id="mu-related-item-slide">
                        <div class="col-md-6">
                          <div class="mu-latest-course-single">
                            <figure class="mu-latest-course-img">
                              <a href="#"><img alt="img" src="assets/img/courses/1.jpg"></a>
                              <figcaption class="mu-latest-course-imgcaption">
                                <a href="#">Drawing</a>
                                <span><i class="fa fa-clock-o"></i>90Days</span>
                              </figcaption>
                            </figure>
                            <div class="mu-latest-course-single-content">
                              <h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
                              <div class="mu-latest-course-single-contbottom">
                                <a href="#" class="mu-course-details">Details</a>
                                <span href="#" class="mu-course-price">$165.00</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="mu-latest-course-single">
                            <figure class="mu-latest-course-img">
                              <a href="#"><img alt="img" src="assets/img/courses/2.jpg"></a>
                              <figcaption class="mu-latest-course-imgcaption">
                                <a href="#">Drawing</a>
                                <span><i class="fa fa-clock-o"></i>90Days</span>
                              </figcaption>
                            </figure>
                            <div class="mu-latest-course-single-content">
                              <h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
                              <div class="mu-latest-course-single-contbottom">
                                <a href="#" class="mu-course-details">Details</a>
                                <span href="#" class="mu-course-price">$165.00</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="mu-latest-course-single">
                            <figure class="mu-latest-course-img">
                              <a href="#"><img alt="img" src="assets/img/courses/3.jpg"></a>
                              <figcaption class="mu-latest-course-imgcaption">
                                <a href="#">Drawing</a>
                                <span><i class="fa fa-clock-o"></i>90Days</span>
                              </figcaption>
                            </figure>
                            <div class="mu-latest-course-single-content">
                              <h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
                              <div class="mu-latest-course-single-contbottom">
                                <a href="#" class="mu-course-details">Details</a>
                                <span href="#" class="mu-course-price">$165.00</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="mu-latest-course-single">
                            <figure class="mu-latest-course-img">
                              <a href="#"><img alt="img" src="assets/img/courses/1.jpg"></a>
                              <figcaption class="mu-latest-course-imgcaption">
                                <a href="#">Drawing</a>
                                <span><i class="fa fa-clock-o"></i>90Days</span>
                              </figcaption>
                            </figure>
                            <div class="mu-latest-course-single-content">
                              <h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
                              <div class="mu-latest-course-single-contbottom">
                                <a href="#" class="mu-course-details">Details</a>
                                <span href="#" class="mu-course-price">$165.00</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                    </div>
                  </div> -->
                  <!-- end start related course item -->
                </div>
                <div class="col-md-3">
                  <!-- start sidebar -->
                  <aside class="mu-sidebar">
                    <!-- start single sidebar -->
                    <div class="mu-single-sidebar">
                      <h3>Content</h3>
                      <ul class="mu-sidebar-catg">
                        <li><a href="#">Regular Season</a></li>
                        <li><a href="#">Match Ups</a></li>
                        <li><a href="#">Odds</a></li>
                        <li><a href="#">Predictions</a></li>
                        <li><a href="#">Betting Algorithim</a></li>
                        <li><a href="#">Money</a></li>
                      </ul>
                    </div>
                    <!-- end single sidebar -->
                    <!-- start single sidebar
                    <div class="mu-single-sidebar">
                      <h3>Popular Course</h3>
                      <div class="mu-sidebar-popular-courses">
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="assets/img/courses/1.jpg" alt="img">
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">Medical Science</a></h4>
                            <span class="popular-course-price">$200.00</span>
                          </div>
                        </div>
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="assets/img/courses/2.jpg" alt="img">
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">Web Design</a></h4>
                            <span class="popular-course-price">$250.00</span>
                          </div>
                        </div>
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="assets/img/courses/3.jpg" alt="img">
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">Health & Sports</a></h4>
                            <span class="popular-course-price">$90.00</span>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <!-- end single sidebar -->
                    <!-- start single sidebar -->
                    <div class="mu-single-sidebar">
                      <h3>Helpful Tools</h3>
                      <ul class="mu-sidebar-catg mu-sidebar-archives">
                        <li><a href="https://www.oddsshark.com/nhl/odds">All Odds</a></li>
                        <li><a href="https://www.oddsshark.com/tools/odds-calculator">Odds Calculator <span>(Conversion)</span></a></li>

                      </ul>
                    </div>
                    <!-- end single sidebar -->
                    <!-- start single sidebar -->
                    <div class="mu-single-sidebar">
                      <h3>Tags Cloud</h3>
                      <div class="tag-cloud">
                        <a href="{% url 'betify-NBA' %}">NBA</a>
                        <a href="{% url 'betify-MLB' %}">MLB</a>
                        <a href="{% url 'betify-detailNHL' %}">Technical NHL</a>
                        <a href="{% url 'betify-detailNHL' %}">Technical NBA</a>
                        <a href="{% url 'betify-detailNHL' %}">Technical MLB</a>
                        <a href="{% url 'betify-home' %}">Home</a>

                      </div>
                    </div>
                    <!-- end single sidebar -->
                  </aside>
                  <!-- / end sidebar -->
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>

<!-- not used delete when done used for team logos <script language="JavaScript" type="text/javascript" src="{% static 'home/assets/js/NHLcustom.js'%}"></script> -->
 {% endblock content %}